.App {
  text-align: center;
  background-color: #002b5b;
  color: #8fe3cf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand {
}

.roundedborder {
  border-radius: 20%;
}

.OptionsMenu {
  max-width: 500px;
}

.OptionsButton {
  position: absolute;
  left: 25px;
  top: 20px;
}

.melds {
  align-items: end;
}

.primary-color {
  background-color: #2b4865;
}

.infoPanelBorder {
  background-color: #2b4865;
  border-radius: 1%;
}

.infoPanel {
  min-height: 300px;
}

.infoRow {
  margin: auto;
  padding: 10px;
  width: 50%;
  font-family: Helvetica;
}

.tile {
}

.winningTile {
  margin-left: 50px;
  border: 2px solid #ff0000;
  border-radius: 9px;
}

.calledTile {
  transform: rotate(90deg) translate(17%);
  margin-left: 14px;
  margin-right: 14px;
}

.alignBottom {
  position: absolute;
  bottom: 0;
}

.floatRight {
  float: right;
}

.meld {
  margin-left: 40px;
  float: left;
}
