.App {
  text-align: center;
  background-color: #3b3058;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roundedborder {
  border-radius: 20%;
}

.OptionsMenu {
  max-width: 500px;
}

.OptionsButton {
  position: absolute;
  left: 25px;
  top: 20px;
}

.meld {
  align-items: end;
  margin-left: 50px;
}

.bgcolor-1 {
  background-color: #54457f;
}

.bgcolor-2 {
  background-color: #d8d4f2;
}

.bgcolor-3 {
  background-color: #c4b2bc;
}

.bgcolor-4 {
  background-color: #5bc0be;
}

.fgcolor-1 {
  color: #54457f;
}

.fgcolor-2 {
  color: #d8d4f2;
}

.fgcolor-3 {
  color: #c4b2bc;
}

.fgcolor-4 {
  color: #5bc0be;
}

.infoContainer {
  display: flex;
  align-items: center;
  text-align: center;
}

.quizPanel {
  display: inline-block;
  width: fit-content;
  margin: 40px 40px 40px 40px;
  border-radius: 20px;
  border: 2px;
  color: #5bc0be;
}

.infoPanel {
  display: inline-block;
  white-space: nowrap;
}

.infoRow {
  padding: 10px;
  height: 200px;
  font-family: Helvetica;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

.infoTitle {
  padding: 20px;
  vertical-align: top;
  color: #5bc0be;
  font-family: "Lato", sans-serif;
}

.infoElement {
  min-height: 100px;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  color: #d8d4f2;
}

.tilePanel {
  white-space: nowrap;
  padding: 40px 40px 40px 40px;
}

.tileContainer {
  margin: 20px 20px 20px 20px;
  float: center;
}

.tile {
  max-height: 100px;
  max-width: 80px;
  display: inline-block;
  white-space: normal;
}

.allTiles {
  width: auto;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  justify: center;
  border-radius: 20px;
  border: 2px;
}

.infoContainer {
  border-radius: 20px;
  border: 2px;
}

.inline {
  display: inline-block;
  white-space: nowrap;
}

.winningTile {
  margin-left: 50px;
  border: 2px solid #ff0000;
  border-radius: 9px;
}

.calledTile {
  transform: rotate(90deg) translate(17%);
  margin-left: 14px;
  margin-right: 14px;
}

.alignBottom {
  position: absolute;
  bottom: 0;
}

.floatRight {
  float: right;
}

.quizBox {
  width: 100px;
  padding: 3px 5px;
  box-sizing: border-box;
}
